<!-- File Name: users.ejs
Student Name: Fatimah Binti Yasin
Student ID:  301193282
WebApp name: To-Do -->

<%- include ('partials/header') %>

  <h1><%= title %></h1>
  <p>Welcome <%= userName %> to <%= title %> page</p>

<%- include ('partials/footer') %>